.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  width: max-content;
  border-radius: 8px;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  z-index: 1000;
  color: var(--text-color);
  background-color: hsl(220, 14%, 17%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: 16px;
  min-width: 120px; 
  text-align: center; 
}

.dropdown li {
  padding: 6px 10px; 
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown li:hover {
  background-color: hsl(220, 14%, 25%);
  color: var(--text-link-hover-color);
}

.dropdownLink {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center; 
  padding: 6px 12px; 
}
