.dropdown {
  position: absolute;
  top: 125%;
  right: 0;
  width: fit-content;
  border-radius: 0.2rem;
  list-style: none;
  padding: 0.5rem 0 ;
  z-index: 1000;
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(3, 3, 3, 0.9);
  overflow: hidden;
  font-size: 1.1rem;
  min-width: 10rem; 
  text-align: center;
 
}

.dropdown li {
  padding: 4px 10px; 
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.dropdown li:hover {
  background-color: var(--text-link-color-bg-hover);
  color: var(--text-link-color-hover);
}

.dropdownLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  transition: background-color 0.2s ease; 
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  stroke: currentColor; 
  transition: transform 0.15s ease; 
}

.dropdownLink:hover {
  background-color: var(--text-link-color-bg-hover);
  color: var(--text-link-color-hover); 
}

.dropdownLink:hover .icon {
  transform: scale(1.1); 
}

