.card {
  display: flex;
  align-items: center;
  padding: 15px 0 0 5px;
  width: 100%;
  position: relative;
  gap: 10px;
}

.avatar {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: var(--text-link-color);
}

.name:hover {
  color: var(--text-link-color-hover);
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--text-color);
}

.rating span {
  color: var(--text-color-muted);
}

.iconStar {
  color: #f5a623;
  width: 16px;
  height: 16px;
}

.link {
  color: #1a73e8;
  font-size: 14px;
  text-decoration: none;
}

.date,
.items {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: var(--text-color);
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}
