.sliderWrapper {
  width: 95%;
  padding: 4px 8px 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sliderRail {
  background-color: rgba(0, 0, 0, 0.15) !important;
  height: 4px !important;
  border-radius: 999px;
  opacity: 1 !important;
}

.sliderTrack {
  background: linear-gradient(90deg,
      #1E7F5C,
      #24976F) !important;
  border: none !important;
  height: 4px !important;
  border-radius: 999px;
}

.sliderThumb {
  width: 12px !important;
  height: 12px !important;
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
  transition:
    transform 0.15s ease,
    box-shadow 0.2s ease,
    border 0.2s ease;
}

.sliderThumb:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}