.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.sideWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
