.checkbox {
  display: flex;
  align-items: center;
  gap: 8px; 
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color); 
  user-select: none; 
  margin-right: 20rem;
}

.checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--accent-color); 
}

