.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 5px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.cardWrapper {
  flex: 0 0 auto;
}

.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(170, 170, 170, 0.8);
  border-radius: 50%;
  width: 30px; 
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  z-index: 2;
  border: none;
  outline: none;
}

.arrowButton.left {
  left: 0;
}

.arrowButton.right {
  right: 0;
}
