.wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  gap: 5px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.menuItem {
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  color: var(--text-color);
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;  
}

.menuItem:hover {
  color: var(--text-link-hover-color);
}

.menuItem.selected {
  color: var(--selected-color);
  font-weight: bold;
}

.menuItem:last-child {
  border-bottom: none;
}

