# Java
*.class
*.jar
*.war
target/

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Node / React
node_modules/
build/

# Docker
*.sock
*.log

# IDEs
.vscode/
.idea/
*.iml

# Uploads (user avatars, item images)
./uploads/

# Environment files
backend/config/.env