.modalWrapper {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: sans-serif;
  overflow: hidden;
  z-index: 1000;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topResizeHandle {
  height: 6px;
  cursor: ns-resize;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.minimizedBar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--theme-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  box-shadow: var(--box-shadow);
  position: fixed;
}

.minimizedBar:hover .closeButton {
  visibility: visible;
}

.chatLabel {
  font-size: 24px;
  color: white;
  user-select: none;
}

.closeButton {
  position: absolute;
  top: 0;
  right: -4px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}


.fullScreenModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--background-color);
  z-index: 9999;
}

.fullScreenModal .chatWindow {
  height: 100%;
}