.container {
  display: flex;
  align-items: flex-start;  
  gap: 12px;
  padding: 6px 10px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.thumbnail {
  width: 46px;
  height: 46px;
  border-radius: 20%;
  object-fit: cover;
}

.titleWrapper {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;       
  flex: 1;                        
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-link-color);
  margin: 0;
  text-decoration: none;
}

.title:hover {
  color: var(--text-link-color-hover);
}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
}
