networks:
  ventinso-network:
    external: true

volumes:
  prometheus:
  grafana:

services:

  grafana:
    image: grafana/grafana:11.6.0
    container_name: grafana
    networks:
      - ventinso-network      
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_AUTH_ANONYMOUS_ENABLED: "false"
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - grafana:/var/lib/grafana

  prometheus:
    image: prom/prometheus:v3.2.1
    container_name: prometheus
    networks:
      - ventinso-network      
    ports:
      - "9090:9090"
    restart: unless-stopped
    volumes:
      - ./config/prometheus.yaml:/etc/prometheus/prometheus.yml:ro
      - prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--log.level=info'

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    networks:
      - ventinso-network      
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
