.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 275px;
  min-width: 275px;
  margin: 0 auto;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}

.wrapper {
  position: relative;
}

.favoriteButtonWrapper {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.wrapper:hover .favoriteButtonWrapper {
  opacity: 1;
}

.alwaysVisible {
  opacity: 1 !important;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: var(--background-color);
  cursor: pointer;
}

.priceTag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 2px 6px;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 1.1rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  padding: 6px;
  min-width: 0;
  max-width: 100%;
}

.title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.title:hover {
  color: var(--text-link-hover-color);
}

.userInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 6px;
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.tagsContainer {
  display: flex;
  gap: 0.5rem;
}

.tagsContainer > :last-child {
  margin-left: auto;
}

.userInfoContainer span {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.username {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: var(--text-color);
}

.avgRating {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.username:hover {
  color: var(--text-link-color);
}

.reactions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.noUnderline {
  text-decoration: none;
  color: inherit;
}

.userInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
