:root {
  --background-color: #111;
  --text-color: #f1f1f1;
  --box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  --font-family: 'Poppins', sans-serif;
  --accent-color: #24976F;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 255px;    
  min-width: 255px;
  height: 310px;     
  margin: 0 auto;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.favoriteButtonWrapper {
  position: absolute;
  top: 6px;
  right: 6px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.productImage {
  width: 100%;
  height: 250px;  
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  transition: transform 0.2s ease;
}

.priceTag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 2px 6px;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 1rem;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 4px;
}

.priceIcon {
  width: 16px;
  height: 16px;
  stroke: var(--text-color);
  stroke-width: 3px;
  cursor: default;
}

.priceText {
  line-height: 1;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.2rem;
  gap: 4px;
  min-width: 0;
  
}

.title {
  font-family: var(--font-family);
  font-size: 0.95rem;
  color: var(--text-color);
  margin: 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0rem;
}


