.scrollButton {
  position: fixed;
  bottom: 80px;
  right: 30px;
  background-color: var(--header-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s, background-color 0.2s;
  z-index: 1000;
}

.scrollButton:hover {
  background-color: var(--header-hover-color);
  transform: translateY(-3px);
}
