.scrollButton {
  position: fixed;
  bottom: 80px;
  right: 30px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s, background-color 0.2s;
  z-index: 1000;
}

.scrollButton:hover {
  transform: translateY(-3px);
}
