.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 3rem;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow, none);
  min-height: 100%;
}