.wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  gap: 5px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 8px 0; 
  box-sizing: border-box;
}

.menuItem {
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  color: var(--text-color);
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  text-decoration: none;
  border-radius: 6px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.menuItem:hover {
  color: var(--text-link-color-hover);
  background-color: rgba(0, 0, 0, 0.05); 
}

.menuItem.selected {
  color: var(--text-link-color-selected);
  font-weight: bold;
  background-color: rgba(0, 128, 255, 0.08); 
}

.menuItem:last-child {
  border-bottom: none;
}


.submenu {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 4px;
}

.submenu .menuItem {
  font-size: 16px;
  padding: 8px 20px;
}
