.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 30px; 
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border: none;
  outline: none;
}

.arrowButton.left {
  left: 1%;
}

.arrowButton.right {
  right: 1%;
}