:root {   
  --unread-color: hsl(220, 14%, 17%); 
  --read-color: hsl(220, 14%, 23%);
  --badge-color: #21EA65;
}

.dropdown {
  position: absolute;
  top: 105%; 
  right: 0;
  width: 400px;       
  max-height: 300px;  
  overflow-y: auto;   
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  list-style: none;
  margin: 4px 0 0 0; 
  padding: 0;
  z-index: 1000;
  color: var(--text-color);
}

.dropdown li {
  padding: 12px 16px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: var(--read-color);
  word-break: break-word;   
  white-space: normal;      
  overflow: visible;      
  text-overflow: clip;     
}


.dropdown li:not(.markAllCenter):hover {
  background-color: hsl(220, 25%, 32%);
}

.dropdown li.unread {
  background-color: var(--unread-color);
  font-weight: 500;
}

.redBadge {
  position: absolute;
  top: auto;
  right: 10px;
  width: 6px;
  height: 6px;
  background-color: var(--badge-color);
  border-radius: 50%;
  pointer-events: none;
}

.markAllCenter {
  background-color: var(--dropdown-bg);
  display: flex;            
  justify-content: center;   
  align-items: center;      
  font-weight: bold;
  height: 20px;
  cursor: pointer;        
}

.markAllCenter:hover {
  color: var(--text-link-color);
  text-decoration: none;
}
