.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #aaa !important;
  overflow: hidden; 
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 6px;
}

.priceInput {
  flex: 1;
  border: none !important;
  border-radius: 0 !important;
  
  box-shadow: none !important;
  background-color: var(--background-color);
  color: var(--text-color);

  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.withPadding {
  
}

/* Chrome, Safari, Edge, Opera */
.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.priceInput[type="number"] {
  -moz-appearance: textfield;
}

.euroIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--text-color);
  cursor: default;
}
