.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  gap: 2%;
  height: 50px;
  font-weight: bold;
  background-color: var(--footer-background-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.chatInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chatControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chatControls button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
