.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding-right: 20px;
  width: fit-content;
}

.usernameText {
  font-size: 16px;
  font-weight: 700;
  color: var(--username-navbar); 
  white-space: nowrap;
  user-select: none;
  text-transform: capitalize;
  transition: color 0.3s ease;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.usernameText:hover {
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.iconWrapper:hover {
  background-color: rgba(255, 171, 64, 0.5);
  cursor: pointer;
}

.accountMenuWrapper {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: max-content;
}

.notificationWrapper {
  position: relative;
  display: inline-block;
}

.unreadDot {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 8px;
  height: 8px;
  background-color:#21EA65;
  border-radius: 50%;
  pointer-events: none;
}
