.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  margin: 0;
  height: 100%;
  width: fit-content;
 
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.iconWrapper:hover {
  background-color: var(--hover-color-bubble);
  cursor: pointer;
}

.accountMenuWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0.1rem;
}

.notificationWrapper {
  position: relative;
  display: inline-block;
}

.unreadDot {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 16px;          
  height: 16px;
  min-width: 16px;
  background-color: var(--theme-color);
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;    
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  box-sizing: border-box;
  padding: 0;             
  text-align: center;
}



.icon {
  width: 22px;
  height: 22px;
  stroke: var(--text-color); 
  cursor: pointer;
}

.accountMenuWrapper .icon {
  width: 30px;
  height: 30px;
}

.userAvatar {
  width: 34px;   
  height: 34px;  
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
