.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;  
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 1rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;     
  min-width: 0;      
  width: 100%;
  box-sizing: border-box;
}

