.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.modal {
  position: relative;
  width: 400px;
  max-width: 90%;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--header-text-color);
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  line-height: 0;
  z-index: 10;
}

.closeIcon {
  width: 25px;
  height: 25px;
  stroke-width: 2;
  stroke: var(--text-color-muted);
  transition: transform 0.2s;
}

.closeButton:hover .closeIcon {
  transform: scale(1.1);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  outline: none;
  margin-bottom: 1.5rem;
  background-color: var(--input-color-bg);
  box-shadow: var(--box-shadow);
  color: var(--text-color-muted);
  outline: none;
  border: none;
}

.input:focus {
  border-color: var(--color-button-bg);
  box-shadow: 0 0 0 2px var(--input-focus-border-color);
}

.input:last-of-type {
  margin-bottom: 0;
}

.passwordWrapper {
  position: relative;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.togglePassword {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

}

.loginbtn {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-theme-color-bg);
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.15s ease;
}

.loginbtn:not(:disabled):hover {
  background-color: var(--button-theme-color-bg-hover);
  transform: translateY(-1px);
}

.loginbtn:disabled {
  background-color: var(--input-color-bg);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  opacity: 0.7;
}

.footerText {
  text-align: start;
  margin: 0.5rem 0 1.5rem 0;
  font-size: 0.875rem;
}

.footerText a {
  color: var(--text-link-color);
  text-decoration: none;
}

.footerText a:hover {
  color: var(--text-link-color-hover);
  text-decoration: underline;
}

.signupText {
  margin: 0.75rem 0;
  font-size: 0.9rem;
  color: var(--text-color-label);
}

.signupLink {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--text-link-color);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.signupLink:hover {
  color: var(--text-link-color-hover);
  text-decoration: underline;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--border-color);

}

.divider::before {
  margin-right: 0.75rem;
}

.divider::after {
  margin-left: 0.75rem;
}

.dividerText {
  color: var(--text-color);
  font-weight: 600;
}


.googleButton {
  background-color: #4285F4;
  color: var(--color-button-text);
  padding: 0.5rem 0;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.facebookButton {
  background-color: #1877F2;
  color: var(--color-button-text);
  padding: 0.5rem 0;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.icon {
  stroke: var(--text-color-muted);
  width: 20px;
  height: 20px;
}