.fullPageChat {
  display: flex;
  width: 100%;
  height: 50rem;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #888;
}
