/* Wrapper και τίτλοι */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow, none);
    min-height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
}

.headerRow {
    display: grid;
    grid-template-columns: 3fr 80px 80px; 
    gap: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--text-color-label);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
}

.columnHeader {
    text-align: center;
}

.categoryTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--text-color-muted);
}

/* Grid  */
.field {
    display: grid;
    grid-template-columns: 3fr 80px 80px; 
    gap: 1rem;
    align-items: center;
    padding: 8px 0px;
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
}

/* Label */
.label {
    font-size: 1rem;
    padding-left: 2rem;
    color: var(--text-color-label);
    display: inline-block; 
    width: 100%;
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;  
    height: 24px; 
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6b6b6b;
    border-radius: 24px;
    transition: background-color 0.4s; /* μόνο χρώμα */
}

/* Slider circle */
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s; 
    will-change: transform;    
}

/* Checked state */
input:checked + .slider {
    background-color: var(--toogle-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Center toggle σε grid */
.field label.switch {
    justify-self: center;
    padding-left: 0.5rem;
}
