.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%; 
  gap: 10px; 
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px; 
  background-color: var(--background-color);
  box-shadow: var(--box-shadow, none);
  min-height: 400px; 
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  min-height: 20px;
}

.field.editable {
  cursor: pointer;
}

.label {
  width: 150px;
  color: var(--text-color-label);
}

.value,
.input {
  flex: 1.5;
  font-size: large;
  width: fit-content;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: transparent;
  transition: background-color 0.2s;
  border-color: var(--border-color);

}

.input:focus {
  outline: none;
  background-color: var(--background-color);

}

.editIcon {
  margin-left: 6px;
  stroke: var(--text-color);
  opacity: 0.9;
}

.skeletonField {
  flex: 1;
  height: 20px;               /* Ύψος όπως το input/text */
  border-radius: 6px;
  background-color: #e0e0e0;  /* Γκρι placeholder */
  animation: pulse 1.5s infinite ease-in-out;
  outline:2px solid rgb(0, 140, 255);
}