.wrapper {
  position: relative;
  flex: 2.5;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 !important;
}

.topInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.middleInfo {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 10px;
}

.timelineContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
  margin-top: 1.2rem;
  gap: 6rem;
}

.timelineItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}


.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: grey;
  margin-bottom: 8px;
  z-index: 2;
  transition: background-color 0.3s;
}


.label {
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: center;
}


.connector {
  position: absolute;
  top: 15%;
  left: 50%;
  right: -90%; 
  height: 2px;
  background-color: var(--border-color);
  z-index: 1;
  transition: background-color 0.3s;
}


.filled .dot {
  background-color: var(--accent-color);
}

.filledConnector {
  background-color: var(--accent-color);
}

.itemContainer {
  display: flex;
  align-items: center;
  padding: 0;
 
}

.itemContainer img {
  width: 20%;
  height: auto;
  margin-right: 0.75rem;
  border-radius: 2%;
}

.itemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.itemName {
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  max-width: 100%;
  color: var(--text-color);
}

.itemName:hover {
  color: var(--text-link-hover-color);
  cursor: pointer;
}

.itemCondition {
  font-size: 1.2rem;
  color: var(--text-label-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.itemPrice {
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.4rem;
}

.trackingContainer {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

.trackingContainer p {
  margin: 0;
}

.trackingNumberValue {
  margin-left: 65px;
  color: var(--text-link-color);
}

.trackingNumberValue:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bottomInfo {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.shippingContainer {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 0.8;
  display: flex;
  flex-direction: column;

}

.shippingContainer h3 {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.summaryContainer {
  flex: 1.5;
  padding: 1rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.summaryContainer h3 {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.3rem;
}

.summaryContainer div {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}

.summaryAmount {
  font-weight: bold;
  font-size: 1.2rem;
}

.userLink {
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--text-link-color);
}

.userLink:hover {
  text-decoration: none;
  color: var(--text-link-hover-color);
}


