.wrapper {
  max-width: 70%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}