.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 5px 0;
  padding: 0 4px;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin: 2px;
  color: var(--text-color);
}

.imageContainer {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 600px;
  margin: 4px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.mainImageWrapper {
  flex: 2.5;
  position: relative;
  height: 100%;
  overflow: hidden;
}


.soldTag {
  position: absolute;
  top: 1rem;           
  right: -2rem;       
  background-color: rgba(255, 0, 0, 0.85);
  color: white;
  font-weight: bold;
  padding: 5px 50px;   
  transform: rotate(45deg);
  z-index: 10;
  font-size: 1rem;
  text-align: center;
  pointer-events: none; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}


.mainImage {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
  object-fit: fill;
  cursor: pointer;
}

.thumbnailContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.dateContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.description {
  margin: 0;
  padding: 10px 20px 0 20px;
  font-size: large;
  line-height: 1.6;
  color: var(--text-color);
 
  box-sizing: border-box;
  white-space: pre-wrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.fullImage {
  max-width: 90%;
  max-height: 90%;
  box-shadow: var(--box-shadow);
}

.price {
  display: flex;
  align-items: center; /* στοιχίζει κάθετα */
  gap: 4px;            /* απόσταση τιμής - icon */
  font-size: 24px;
  font-weight: bold;
  margin: 2px;
  color: var(--text-color);
}

.priceText {
  line-height: 1; /* για να μην τραβάει το text */
}

.priceIcon {
  width: 24px;
  height: 24px;
  stroke: var(--text-color);
  stroke-width: 3px;
  margin-top: 0.2rem;
}
