.favoriteWrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.favoriteWrapper.active {
  background-color: var(--favorite-btn);
}

.favoriteWrapper.active:hover {
  background-color: var(--favorite-btn-hover);
}

/* Owner Heart */
.favoriteWrapper.owner .ownerIcon {
  opacity: 0.5;      
  cursor: default;
}

.wrapper {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.wrapper.disabled {
  cursor: default;
}

.icon {
  width: 24px;
  height: 24px;
  transition: fill 0.2s ease;
  fill: none;
  stroke: none;
}

.filled {
  fill: var(--theme-color);
}

.stroke {
  stroke: black;
}

.watcherBadge {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 16px;
}

