.tabGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.tabGroupButton {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  background-color: var(--background-color);
  color: white;
  border-radius: 24px;
  padding: 0.375rem 0.875rem;
  font-size: 18px;
  gap: 1rem;
  border: none;
}

.tabGroupButton:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  color: var(--selected-color) ;
  background-color: var(--hover-color-secondary);
}

.activeTab {
  color: var(--selected-color) !important;
}
