.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  padding: 20px;
  height: fit-content;
  border-radius: 10px; 
  background-color: var(--background-color);
  box-shadow: var(--box-shadow, none);
  
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
}

.list {
  margin-top: 1rem;
  overflow: hidden;
}

.rowLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.list > .rowLink:last-child .row {
  border-bottom: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.itemSection {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0.8;

}

.thumbnail {
  width: 10%;
  height: 56px;
  border-radius: 10%;
  object-fit: cover;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.itemTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.rowLink:hover .itemTitle {
  color: var(--text-link-color-hover);
}

.userSection {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 120px;
  justify-content: center;
}

.username {
  font-size: 20px;
  color: var(--text-color);
}

.metaSection {
  text-align: right;
  min-width: 100px;
}

.price {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}

.date {
  font-size: 16px;
  color: var(--text-color-muted);
}


