.searchContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 2.2rem;
  margin-left: 10%;
  border-radius: 4rem;
}

.searchForm {
  display: flex;
  align-items: stretch; 
  width: 100%;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--border-color);
  overflow: hidden;
}

.searchInput {
  flex: 1;
  height: 100%; 
  font-size: 1.2rem;
  padding: 0 0.2rem; 
  border: none;
  background-color: var(--header-main-color-bg);
  color: var(--text-color-muted);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchForm button {
  height: 100%; 
}

.searchInput:focus,
.searchInput:active {
  outline: none !important;
  box-shadow: none !important;
}

